@import './base.scss';
@import './theme/acg.scss';
@import './theme/yuanshen.scss';
html{
  height: 100%;
}
body {
  height: 100%;
  color: var(--ck-main-text-color,#000);
  background-color: var(--ck-main-bg-color,#fff);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app{
  height: 100%;
}
a{
  text-decoration: none;
  // color: #5f9f5f;
  color:var(--ck-a-color,#777);
  transition: 0.4s;
}
/*工具类样式*/
.t-pointer{
  cursor: pointer;
}
.t-block{
  width: 100%;
  text-align: center;
  display: block;
}
.t-flex{
  display: flex;
}
.t-flex-wrap{
  flex-wrap: wrap;
}