
:root{
  --el-font-size-base:13px;
}
html {
  --ck-wrapper-bg-image:none;
  --ck-main-text-color:#333;
  --ck-header-bg-color:rgb(255, 255, 255);
  --ck-aside-bg-color:#fefefe;
  --ck-header-height:50px;
  --ck-logo-bg:url(https://cdn.zcxnb.cn/upload/Dttug5qVUf.png);
  --ck-logo-bg-fold:url(https://cdn.zcxnb.cn/cloud/2022/08/25/XGw6u63h_admin-minilogo.png);
  --ck-logo-width-fold:50px;
  --ck-logo-height-fold:50px;
  --ck-logo-height:50px;
  --ck-header-left-width:220px;
  --ck-header-left-width-fold:70px;
  --ck-logo-width:150px;
  --ck-avatar-width: 35px;
  --ck-scroll-bar-width:6px;
  --ck-scroll-bar-color:#ddd;
  --ck-a-color:#777;
  --ck-main-bg-color:#f7f7f7;
}
.dark{
  --ck-main-text-color:#eee;
  --ck-a-color:#efefef;
  --ck-main-bg-color:#333;
  --ck-header-bg-color:rgb(32, 29, 44);
  --ck-scroll-bar-color:rgb(91, 81, 73);
  --ck-aside-bg-color:#222;
  --ck-scroll-bar-body-bg:rgb(32, 29, 44);
  // --aside-r-border-color:rgb(32, 29, 44);
  .ck-code-tip {
    color: #ddd;
  }
}
.el-breadcrumb{
  font-size:var(--el-font-size-base,14px);
}
@media (max-width: 500px) {
  html {
    --ck-scroll-bar-width:3px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.ck-scrollbar{
  div,body {
    &::-webkit-scrollbar{
      width: var(--ck-scroll-bar-width,10px);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--ck-scroll-bar-color,#ddd);
    }
    &::-webkit-scrollbar-track{
      background-color:transparent;
    }
  
  }
  body {
    &::-webkit-scrollbar-track{
      background-color:var(--ck-scroll-bar-body-bg,#fff);
    }
  }
}
.ck-code-cell {
  padding: 10px 0;
  pre,
  code {
    display: block;
    width: 100%;
    overflow: auto;
    border-radius: 4px;
    padding: 10px;
  }
}
.ck-code-tip {
  padding: 10px 0;
  color: #333;
  font-size: 13px;
}