@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
@mixin flexCenter {
  display: flex;
  align-items:center;
}

@mixin radiusColor($radius, $color) {
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: $radius;
    height: $radius;
    background-color: $color;
    border-radius: 50%;
    top: 20%;
    left: -10px;
  }
}
/*
* @name:  文本隐藏 (text-indent: -9999px;有性能问题)
* @param: $support-for-ie {boolean}  是否支持IE6
*/

@mixin text-hide($support-for-ie:true) {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  @if $support-for-ie {
      *text-indent: -9999px;
      *text-align: left;
  }
}
@mixin ellipsis() {
overflow: hidden;
white-space: nowrap;
word-break: keep-all;
text-overflow: ellipsis;
}
@mixin clamp($n:2){
  word-break: break-all;
  display: -webkit-box;   
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: $n;   
  overflow: hidden;  
}