@font-face {
  font-family: "iconfont"; /* Project id 3614401 */
  src: url('iconfont.woff2?t=1662043901596') format('woff2'),
       url('iconfont.woff?t=1662043901596') format('woff'),
       url('iconfont.ttf?t=1662043901596') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skin:before {
  content: "\e67c";
}

.icon-clear:before {
  content: "\e64f";
}

.icon-lock:before {
  content: "\e6c0";
}

.icon-unlock:before {
  content: "\e682";
}

.icon-bohui:before {
  content: "\e6d6";
}

.icon-dayin:before {
  content: "\e6d7";
}

.icon-gou:before {
  content: "\e6d8";
}

.icon-gaojisousuo:before {
  content: "\e6d9";
}

.icon-pinglun:before {
  content: "\e6da";
}

.icon-shouji:before {
  content: "\e6db";
}

.icon-kefu:before {
  content: "\e6dc";
}

.icon-tishi:before {
  content: "\e6dd";
}

.icon-canyin:before {
  content: "\e6df";
}

.icon-tongxun:before {
  content: "\e6e0";
}

.icon-zongjine:before {
  content: "\e6e1";
}

.icon-debug:before {
  content: "\e606";
}

.icon-moon:before {
  content: "\f2c4";
}

.icon-sun:before {
  content: "\e8c9";
}

.icon-share:before {
  content: "\e60e";
}

.icon-mkdir:before {
  content: "\e60f";
}

.icon-dir-setting:before {
  content: "\e610";
}

.icon-minus:before {
  content: "\e611";
}

.icon-userinfo:before {
  content: "\e612";
}

.icon-briefcase:before {
  content: "\e613";
}

.icon-more:before {
  content: "\e615";
}

.icon-zoomin:before {
  content: "\e616";
}

.icon-close:before {
  content: "\e617";
}

.icon-agenda:before {
  content: "\e618";
}

.icon-more-a:before {
  content: "\e619";
}

.icon-security:before {
  content: "\e61a";
}

.icon-permission:before {
  content: "\e61b";
}

.icon-plus:before {
  content: "\e61c";
}

.icon-info:before {
  content: "\e61d";
}

.icon-database:before {
  content: "\e61e";
}

.icon-menu-setting:before {
  content: "\e61f";
}

.icon-doc:before {
  content: "\e620";
}

.icon-content:before {
  content: "\e621";
}

.icon-role:before {
  content: "\e622";
}

.icon-thirdparty:before {
  content: "\e623";
}

.icon-role-permission:before {
  content: "\e624";
}

.icon-disabled:before {
  content: "\e625";
}

.icon-upload:before {
  content: "\e626";
}

.icon-dir-security:before {
  content: "\e627";
}

.icon-delete:before {
  content: "\e628";
}

.icon-list:before {
  content: "\e629";
}

.icon-home-setting:before {
  content: "\e62b";
}

.icon-platform:before {
  content: "\e62c";
}

.icon-warn:before {
  content: "\e62d";
}

.icon-log:before {
  content: "\e62e";
}

.icon-doc-setting:before {
  content: "\e62f";
}

.icon-fresh:before {
  content: "\e630";
}

.icon-setting-a:before {
  content: "\e631";
}

.icon-question:before {
  content: "\e632";
}

.icon-role-cate:before {
  content: "\e634";
}

.icon-correct:before {
  content: "\e635";
}

.icon-search:before {
  content: "\e636";
}

.icon-handle:before {
  content: "\e637";
}

.icon-fetch:before {
  content: "\e638";
}

.icon-publish:before {
  content: "\e639";
}

.icon-download:before {
  content: "\e63a";
}

.icon-sleep:before {
  content: "\e63b";
}

.icon-time:before {
  content: "\e63c";
}

.icon-contact-setting:before {
  content: "\e63d";
}

.icon-zoomout:before {
  content: "\e63e";
}

.icon-delete-a:before {
  content: "\e63f";
}

.icon-contact:before {
  content: "\e640";
}

.icon-integration:before {
  content: "\e641";
}

.icon-unread:before {
  content: "\e642";
}

.icon-finish:before {
  content: "\e643";
}

.icon-app-setting:before {
  content: "\e644";
}

.icon-mode:before {
  content: "\e645";
}

.icon-xiaoxi:before {
  content: "\e646";
}

.icon-wodetongxunlu:before {
  content: "\e647";
}

.icon-shenjiguanli:before {
  content: "\e648";
}

.icon-home:before {
  content: "\e649";
}

.icon-users:before {
  content: "\e64b";
}

.icon-tree:before {
  content: "\e64c";
}

.icon-officer:before {
  content: "\e64d";
}

.icon-setting:before {
  content: "\e650";
}

.icon-expand:before {
  content: "\e654";
}

.icon-read:before {
  content: "\e655";
}

.icon-privacy:before {
  content: "\e657";
}

.icon-view:before {
  content: "\e659";
}

.icon-admin:before {
  content: "\e65a";
}

.icon-user-info:before {
  content: "\e65b";
}

.icon-fold:before {
  content: "\e65c";
}

.icon-unview:before {
  content: "\e65d";
}

