
.ck-theme-yuanshen {
  --ck-wrapper-bg-image:url(https://cdn.zcxnb.cn/cloud/2022/07/04/LySZm5gH_thread_15588254_20220703101601_s_7023034_o_w_3400_h_2744_40845.jpg);
  --ck-header-bg-color: rgba(247, 247, 251, 0.3);
  --ck-page-bg-color: rgba(255, 255, 255, 0.8);
  --ck-aside-bg-color:rgba(247, 247, 251, 0.9);
  --el-menu-text-color:rgb(0, 0, 0);
  --el-menu-active-color:rgb(113, 136, 1);
  --el-menu-hover-bg-color:rgb(255, 231, 231);
  &.dark{
    --ck-aside-bg-color:rgba(5, 5, 5, 0.1);
    --ck-page-bg-color: rgba(5, 5, 5, 0.75);
    --ck-header-bg-color: rgba(5,5,5,0.7);
    --el-menu-text-color: #fff;
    --el-menu-active-color:rgb(252, 187, 130);
    --el-menu-hover-bg-color:rgb(110, 103, 103);
  }
}
